# Cache files
__pycache__
.mypy_cache
# Build and dist files
/build
/dist
/*.exe
/*.zip
/*.tmp
/Kick Drops Miner
# Dev files
*.new
/env
/cache
/logs
/*.jar
/cookies.txt
/kickautodrops-main/
log.txt
/dump.dat
/lock.file
settings.json
/lang/English.json
# AppImage
/AppDir
/appimage-builder
/appimage-build
/*.AppImage
/*.AppImage.zsync
.DS_Store
*.app
